@media (max-width: 576px) {
    .clinic-intro {
        gap: 10px;

        .clinic-img {
            margin: 0;
        }

        .clinic-describe {
            .clinic-name {
                font-size: 18px;
            }
            .clinic-address {
                font-size: 12px;
            }
        }
    }

    .navigate-clinic-page {
        display: none;
    }

    .clinic-detail_overlay {
        .content-container {
            img {
                width: 100%;
            }
        }
    }
}

@media (min-width: 576px) {
    .clinic-intro {
        gap: 10px;

        .clinic-img {
            margin: 0;
        }

        .clinic-describe {
            .clinic-name {
                font-size: 18px;
            }
            .clinic-address {
                font-size: 12px;
            }
        }
    }

    .navigate-clinic-page {
        display: none;
    }

    .clinic-detail_overlay {
        .content-container {
            img {
                width: 100%;
            }
        }
    }
}

@media (min-width: 768px) {
    .clinic-detail_overlay {
        .clinic-intro {
            gap: 40px;

            .clinic-img {
                margin-left: 20px;
            }

            .clinic-describe {
                .clinic-name {
                }
                .clinic-address {
                }
            }
        }

        .navigate-clinic-page {
            display: flex;
        }

        .content-container {
            img {
                width: 500px;
            }
        }
    }
}

.clinic-detail_overlay {
    .clinic-intro {
        margin-top: 40px;
        padding: 10px;
        box-shadow: 0px 2px 4px #a9a9a9;
        display: flex;
        align-items: center;

        .clinic-img {
            width: 160px;
            height: 110px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            border: 1px solid #e3e3e3;
            border-radius: 8px;
        }

        .clinic-describe {
            .clinic-address {
                color: #444;
            }
        }
    }

    .navigate-clinic-page {
        justify-content: space-around;
        background-color: #fff;
        box-shadow: 1px 2px 4px #a9a9a9;
        position: sticky;
        position: -webkit-sticky;
        top: 60px;
        z-index: 2;

        .item {
            margin: 10px;
            color: #000;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                color: yellow;
                text-decoration: solid;
            }
        }
    }

    .list-doctor_container {
        margin-top: 40px;

        .list-doctor-title {
            font-weight: bold;
            font-size: 20px;
        }

        .select-province {
            width: fit-content;
            margin-top: 10px;
            padding: 4px 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
        }

        .list-doctor {
            .item-doctor {
                margin-top: 10px;
                padding: 10px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0px 0px 8px #a9a9a9;

                > :first-child {
                    border-right: 1px solid #e7e7e7;
                }
            }

            .no-doctor {
                margin-top: 20px;
                font-weight: bold;
                text-align: center;
            }
        }
    }

    .content-container {
        font-size: 16px;

        .content-item {
            position: relative;
        }

        .content-item:not(:last-child)::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -40px;
            border: 1px solid #f4f4f4;
        }

        .title {
            margin-top: 0;
            padding-top: 110px;
            color: rgba(51, 122, 183, 1);
            font-size: 20px;
            font-weight: bold;
            text-transform: capitalize;
        }

        .introduce {
            text-align: justify;
        }
    }
}
