@media (max-width: 576px) {
    .schedule-container {
        min-height: unset;

        .select-container {
        }
    }
    .time-container {
        justify-content: space-evenly;

        .btn-time {
            font-size: 9px;

            &.vi {
                min-width: 110px;
            }

            &.en {
                min-width: 110px;
            }
        }
    }
}

@media (min-width: 576px) {
    .schedule-container {
        min-height: unset;

        .select-container {
        }
    }
    .time-container {
        justify-content: space-evenly;

        .btn-time {
            font-size: 9px;

            &.vi {
                min-width: 110px;
            }

            &.en {
                min-width: 110px;
            }
        }
    }
}

@media (min-width: 768px) {
    .schedule-container {
        min-height: 200px;

        .select-container {
        }
    }
    .time-container {
        .btn-time {
            font-size: 12px;

            &.vi {
                min-width: 120px;
            }

            &.en {
                min-width: 150px;
            }
        }
    }
}

@media (min-width: 992px) {
    .schedule-container {
        min-height: 200px;

        .select-container {
        }
    }
    .time-container {
        .btn-time {
            font-size: 14px;
            &.vi {
                min-width: 120px;
            }

            &.en {
                min-width: 160px;
            }
        }
    }
}

.schedule-container {
    .select-container {
        width: fit-content;

        .select-date {
            margin-bottom: 10px;
            border: none;
            border-bottom: 1px solid #838383;
            padding: 4px 30px 4px 8px;
            color: #0087b6;
            font-size: 15px;
            outline: none;
            text-transform: capitalize;
            cursor: pointer;

            * {
                text-transform: capitalize;
            }
        }
    }

    .schedule_title {
        color: #3a3a3a;
        .icon {
            font-size: 16px;
        }

        .schedule-title {
            font-size: 14px;
            text-transform: uppercase;
            margin-left: 6px;
        }
    }

    .time-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px 0;

        .btn-time {
            padding: 8px 12px;
            background-color: #ffff63;

            &:hover {
                color: #fff;
                background-color: #49bce2;
            }
        }
    }

    .no-schedule-mesage {
        color: #585858;
        font-style: italic;
    }
}
