@media (max-width: 576px) {
    .doctor-intro {
        margin-bottom: 20px;

        .doctor-avatar {
            $width: 80px;
            width: $width;
            min-width: $width;
            height: $width;
            min-height: $width;
        }

        .intro-content {
            .doctor-name {
                font-size: 18px;
            }
            .description {
                display: none;
            }
        }
    }
}

@media (min-width: 576px) {
    .doctor-intro {
        margin-bottom: 20px;

        .doctor-avatar {
            $width: 80px;
            width: $width;
            min-width: $width;
            height: $width;
            min-height: $width;
        }

        .intro-content {
            .doctor-name {
                font-size: 18px;
            }
            .description {
                display: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .doctor-intro {
        .doctor-avatar {
            $width: 120px;
            width: $width;
            min-width: $width;
            height: $width;
            min-height: $width;
        }

        .intro-content {
            .doctor-name {
                font-size: 20px;
            }
            .description {
                display: none;
            }
        }
    }
}

@media (min-width: 992px) {
    .doctor-intro {
        .doctor-avatar {
            $width: 120px;
            width: $width;
            min-width: $width;
            height: $width;
            min-height: $width;
        }

        .intro-content {
            .doctor-name {
                font-size: 24px;
            }
            .description {
            }
        }
    }
}

.doctor-intro {
    display: flex;
    gap: 20px;

    .left {
        text-align: center;

        .doctor-avatar {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid #ccc;
            border-radius: 50%;
            margin: 10px 0;
        }

        .more-text {
            color: #45c3d2;
            text-decoration: none;
        }
    }

    .intro-content {
        .doctor-name {
            margin-top: 20px;
            font-weight: bold;
        }
        .description {
            &.show {
                display: block;
            }

            text-align: justify;
            color: #555;
            font-size: 14px;
        }
    }
}
