.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #0071ba;
    margin: 30px 0;
}

.detail-doctor {
    width: 100%;
}

.markdown-container {
    padding: 10px;

    .btn {
        margin-top: 10px;
    }
}
