.doctor-manage_container {
    .title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        color: #0071ba;
        margin: 30px 0;
    }

    .detail-doctor {
        width: 100%;
        border: 1px solid #cccccc;
        border-radius: 4px;
        outline-color: #2684ff;
        padding: 4px;
    }

    .markdown-container {
        padding: 10px;

        .btn {
            margin-top: 10px;
        }
    }
}
