.media-container {
    // display: flex;
    // gap: 20px;
    padding: 20px;

    .video {
        // width: 50%;
        height: 450px;
    }

    .media-content {
        // width: 50%;
        display: inline-block;
        text-align: justify;
    }
}
