@media (max-width: 576px) {
    .media-container {
        .video {
            height: 270px;
        }
    }
}

@media (min-width: 576px) {
    .media-container {
        .video {
            height: 270px;
        }
    }
}

@media (min-width: 768px) {
    .media-container {
        .video {
            height: 450px;
        }
    }
}

.media-container {
    // display: flex;
    // gap: 20px;
    padding: 20px;

    .video {
        // width: 50%;
        // height: 450px;
    }

    .media-content {
        // width: 50%;
        display: inline-block;
        text-align: justify;
    }
}
