.footer-container {
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #64b9e5;
    border-top: 3px solid #efeef5;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text {
            margin: 0;
        }

        .social-network {
            font-size: 28px;

            * {
                margin-left: 10px;
                cursor: pointer;
            }

            .facebook {
                color: blue;
            }

            .youtube {
                color: red;
            }
        }
    }
}
