@media (max-width: 576px) {
    .section-overlay {
        padding: 20px;

        &.style-flex {
            .section-item {
                .margin-box {
                    .title {
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }

        .section-container {
            padding: 0;

            &.height-fit {
                .slick-track {
                    height: auto;
                }
            }

            .section-item {
                .margin-box {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    img {
                        width: 100% !important;
                        height: auto !important;
                    }
                }
            }

            .section-title {
                &.border-b {
                    &::before {
                        bottom: -2px;
                    }
                }

                .title {
                    font-size: 16px;
                    text-align: left;
                }

                .button {
                    font-size: 8px;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .section-overlay {
        padding: 20px;

        &.style-flex {
            .section-item {
                .margin-box {
                    .title {
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }

        .section-container {
            padding: 0;

            &.height-fit {
                .slick-track {
                    height: auto;
                }
            }

            .section-item {
                .margin-box {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .section-title {
                &.border-b {
                    &::before {
                        bottom: -2px;
                    }
                }

                .title {
                    font-size: 16px;
                    text-align: left;
                }

                .button {
                    font-size: 8px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .section-overlay {
        padding: 20px;

        &.style-flex {
            .section-item {
                .margin-box {
                    flex-direction: row;

                    .title {
                        -webkit-line-clamp: 5;
                    }

                    img,
                    .img {
                        width: 50%;
                        // height: 150px;
                    }
                }
            }
        }

        .section-container {
            padding: 20px 0 30px 0;

            &.height-fit {
                .slick-track {
                    height: 120px;
                }
            }

            .section-item {
                .handbook-content {
                    p {
                        display: none;
                    }
                }
                .margin-box {
                }
            }

            .section-title {
                &.border-b {
                    &::before {
                        bottom: -2px;
                    }
                }

                .title {
                    font-size: 24px;
                }

                .button {
                    font-size: 11px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .section-overlay {
        padding: 20px 50px;

        &.style-flex {
            .section-item {
                .margin-box {
                    .title {
                        -webkit-line-clamp: 5;
                    }
                }
            }
        }

        .section-container {
            &.height-fit {
                .slick-track {
                    height: 160px;
                }
            }

            .section-item {
                .handbook-content {
                    p {
                        display: none;
                    }
                }
                .margin-box {
                }
            }

            .section-title {
                &.border-b {
                    &::before {
                        bottom: -2px;
                    }
                }

                .title {
                    font-size: 24px;
                }

                .button {
                    font-size: 11px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .section-overlay {
        padding: 20px 80px;

        .section-container {
            &.height-fit {
                .slick-track {
                    height: 160px;
                }
            }

            .section-item {
                .handbook-content {
                    p {
                        display: block;
                    }
                }
                .margin-box {
                }
            }

            .section-title {
                &.border-b {
                    &::before {
                        bottom: -2px;
                    }
                }

                .title {
                    font-size: 24px;
                }

                .button {
                    font-size: 11px;
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .section-overlay {
        padding: 20px 183px;

        &.style-flex {
            .section-item {
                .margin-box {
                    .title {
                        -webkit-line-clamp: 5;
                    }
                }
            }
        }

        .section-container {
            &.height-fit {
                .slick-track {
                    height: 160px;
                }
            }

            .section-item {
                .margin-box {
                }
            }

            .section-title {
                &.border-b {
                    &::before {
                        bottom: -2px;
                    }
                }

                .title {
                    font-size: 24px;
                }

                .button {
                    font-size: 11px;
                }
            }
        }
    }
}

.section-overlay {
    border-bottom: 3px solid #efeef5;

    &.section-bg {
        background-color: #f5f5f5;
    }

    &.style-circle-img {
        .section-item {
            .margin-box {
                border: 1px solid #cacaca;
                padding: 12px 5px;

                .specialist {
                    display: block;
                    padding-top: 8px;
                    text-align: center !important;
                }
                .img {
                    border-radius: 50%;
                    margin: 0 auto;
                    width: 120px;
                    height: 120px !important;
                }
            }
        }
    }

    &.style-flex {
        .section-item {
            .margin-box {
                display: flex;
                gap: 10px;

                img,
                .img {
                    // width: 50%;
                    // height: 150px;
                }

                .title {
                    color: #323232;
                    font-weight: bold;
                    font-size: 16px;
                    margin-bottom: 15px;
                    text-align: justify;
                    padding: 3px 0 2px;
                    // -webkit-line-clamp: 5;
                }
            }
        }
    }

    .slick-disabled {
        display: none !important;
    }

    .section-container {
        $section-height: 200px;

        &.arrow-position-remote {
            .slick-next,
            .slick-prev {
                right: -36px;
            }
        }

        .slick-arrow {
            height: 60px;
            width: 30px;
            border: 2px solid rgba(179, 179, 179, 0.3);
            background-color: rgba(179, 179, 179, 0.5);
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all linear 0.3s;

            &::before {
                content: none;
            }

            &:hover {
                background-color: rgba(179, 179, 179, 0.8);
                cursor: pointer;
            }

            i {
                color: #2a2a2a;
                font-size: 16px;
            }
        }

        .slick-next {
            right: -10px;
            z-index: 99;
        }
        .slick-prev {
            left: -10px;
            z-index: 99;
        }

        .section-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            &.border-b {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    // bottom: 10px;
                    left: 0;
                    right: 0;
                    border-bottom: 1px solid #e4e4e4;
                }
            }

            .title {
                color: black;
                text-transform: none;
            }

            .button {
                height: min-content;
                border: none;
                background-color: #ebebeb;
                text-transform: uppercase;
                padding: 10px 15px;
                color: #282e41;
                transition: all linear 0.2s;

                &:hover {
                    cursor: pointer;
                    background-color: #f7d800;
                    color: #fff;
                }
            }
        }

        .section-item {
            padding: 5px;
            text-align: center;

            &:hover {
                cursor: pointer;
                .name,
                .specialist,
                .title,
                .date {
                    color: #45c3d2;
                }
            }

            .handbook-content {
                text-align: justify;
            }

            .img {
                background-color: #fff;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: $section-height - 30px;
            }

            .name {
                margin-top: 12px;
                margin-bottom: 0;
                transition: all linear.3s;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                overflow: hidden;
                -webkit-box-orient: vertical;
            }

            .specialist,
            .date,
            .title {
                color: #111;
                padding: 5px 0 4px;
                font-size: 13px;
                font-weight: 100;
                text-transform: capitalize;
                transition: all linear.3s;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                overflow: hidden;
                -webkit-box-orient: vertical;
            }

            .date {
                -webkit-line-clamp: 2;
            }
        }
    }
}
