@import "../../styles/common.scss";

.home-header_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 6px 0;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;

    .home-header_content {
        width: 1170px;
        padding: 10px 0;
        display: flex;
        align-items: center;

        .logo-container {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                color: #969495;
                font-size: 24px;
                margin-right: 8px;
            }

            .logo {
                width: 160px;
                height: 40px;
                background: url("../../assets/svg/bookingcare-2020.svg") center
                    no-repeat;
                cursor: pointer;
            }
        }

        .menu {
            width: 75%;
            margin: 0 50px;
            padding: 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;

            li {
                list-style: none;
                display: flex;
                flex-direction: column;

                a {
                    font-size: 12px;
                    color: #626262;
                    font-weight: bold;
                    text-decoration: none;

                    &:hover {
                        cursor: pointer;
                    }

                    span {
                        margin-top: 2px;
                        display: block;
                        font-size: 10px;
                        color: #7f7f7f;
                        font-weight: 1;
                    }
                }
            }
        }

        .contact-container {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            gap: 20px;

            .contact {
                margin-bottom: 4px;
                color: #969495;

                i {
                    background-color: #fff;
                    border-radius: 50%;
                    color: #45c3d2;
                }
            }

            .language {
                .language_vi,
                .language_en {
                    margin-right: 10px;
                    color: #c5c5c5;

                    &:hover {
                        color: #999;
                    }

                    &.active {
                        color: #7f7f7f;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            left: -4px;
                            right: -4px;
                            bottom: -2px;
                            border-bottom: 2px solid #000;
                            transition: all linear 0.3s;
                        }
                    }
                }
            }

            *:hover {
                cursor: pointer;
            }
        }
    }

    .user-container {
        display: flex;
        align-items: center;

        .btn-login,
        .btn-logout {
            color: #8b8b8b;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            // position: absolute;
            // right: 20px;
            // top: 50%;
            // transform: translateY(-50%);

            &:hover {
                color: #9a9a9a;
            }
            i {
                font-size: $base-size + 1px;
            }
        }
    }
}
