@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;

    .content-right-container {
        display: flex;

        .languages {
            display: flex;
            align-items: center;

            .language-vi,
            .language-en {
                margin-right: 10px;
                color: #bfbfbf;
                opacity: 0.7;

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }

            .active {
                color: #fff;
                opacity: 1;
            }
        }

        .btn-logout {
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            &:hover {
                background-color: darken($colormain, 5);
            }
            i {
                font-size: $base-size + 1px;
            }
        }
    }
}
